
p{
  font-size: 24px;
}

.secciones{
  text-align: center;
  background-color: black;
  color:white;
  padding: 15px;

}

.centrado{
  text-align: center;
  display: flex;
  background-color: green;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
filter: invert(108%);
}

.carousel-item {
background-color: white;
height: 300px;
padding-left: 70px;
padding-right: 70px;
padding-top: 30px;
padding-bottom: 30px;
}

.textos{
text-align: justify;
width:100%;
}

.descargar-seccion{
  background-color: white;
  padding: 100px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px; 
}

footer img {
  width: 200px; 
  height: auto; 
  vertical-align: middle;
  margin-top: 20px;
}

.links-footer {
  font-size: 25px;

}

.boton2{
  background-color: #67B17C;
  padding: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  border-color: green;
  box-shadow: 5px 5px 5px lightgreen;
}

.boton2:hover{
  background-color: #4b7d4d;
}

#imagen-boton{
  text-align: center;
}

.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen{
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.imagen-120{
  margin: 0px;
  padding: 0px;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.imagen{
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.objetivo12{
  border-radius: 20%;
}

.fondo-main{
  background-image: linear-gradient(0deg, rgba(169,221,221,1) 0%, rgba(104,178,125,1) 100%);
  padding-top: 80px;
  padding-bottom: 80px;
}

.fondo-blanco{
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.texto-info{
text-align: center;
}

.hover{
  height: 70px;
  text-align: center;
  color:black;
}

.hover:hover{
  color: #707070;
}

.boton{
  background-color: #59965B;
  border: 0px;
  width: 50%;
  height: 10%;
  border-radius: 5px;
  padding-top: 9px;

}

.boton:hover{
  background-color: #4b7d4d;
}

.caja-contactos{
  border: 1px #000000 solid;
  height: 40px;
  width: 360px;
  border-radius: 8px;
  background-color: #ffffff;
}
.caja-contactos-grande{
  border: 1px #000000 solid;
  width: 360px;
  border-radius: 8px;
  resize: none;
  background-color: #ffffff;
}
.caja-texto-contactos{
  width: 100%;
  border-width: 0px;
  background-color: #ffffff;
}
.fondo-gris{
  background-color: #F2F2F2;
}
.boton-contacto{
  background-color: #000000;
  border: 0px;
  width:  360px;
  height: 10%;
  border-radius: 5px;
  padding-top: 4px;

}
.boton-contacto:hover{
  background-color: #636363;
}

@media screen and (min-width:992px) {
  
  .imagen-grande{
      margin: 0px;
      padding: 0px;
      width: 120%;
      padding-right: 80px;
  }
}

.mapa{
  padding-right: 80px;
}

.gmap_canvas {
  overflow: hidden;
  background: none;
  height: 280px;
  width: 410px;
}

.extension_small_screens{
  height: 750px;
  background-color: #D9D9D9;
}

.extension_medium_screens{
  height: 420px;
  background-color: #D9D9D9;
}

.extension_large_screens{
  height: 330px;
  background-color: #D9D9D9;
}

.fondo_FAQ{
  background-color: #D9D9D9;
}