
p{
  font-size: 24px;
}

.secciones{
  text-align: center;
  background-color: black;
  color:white;
  padding: 15px;

}

.fondo-a-color {
background-image: linear-gradient(0deg, rgba(169,221,221,1) 0%, rgba(104,178,125,1) 100%);
padding: 30px;
}

.centrado{
  text-align: center;
  display: flex;
  background-color: green;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
filter: invert(108%);
}

.carousel-item {
background-color: white;
height: 300px;
padding-left: 70px;
padding-right: 70px;
padding-top: 30px;
padding-bottom: 30px;
}

.caso-real-container{
text-align: justify;
background-color: white;
width:100%;
}

.descargar-seccion{
  background-color: white;
  padding: 100px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px; 
}

footer img {
  width: 200px; 
  height: auto; 
  vertical-align: middle;
  margin-top: 20px;
}

.links-footer {
  font-size: 25px;

}

.boton2{
  background-color: #67B17C;
  padding: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  border-color: green;
  box-shadow: 5px 5px 5px lightgreen;
}

#imagen-boton{
  text-align: center;
}

.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagen{
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}
.imagen-120{
  margin: 0px;
  padding: 0px;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.imagen{
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}
.fondo-main{
  background-image: linear-gradient(0deg, rgba(169,221,221,1) 0%, rgba(104,178,125,1) 100%);
  padding-top: 50px;
  padding-bottom: 50px;
}
.texto-info{
text-align: center;
}
.hover{
  height: 70px;
  text-align: center;
}
.hover:hover{
  background-color: rgb(164, 164, 164);
}
.boton{
  background-color: #59965B;
  border: 0px;
  width: 50%;
  height: 10%;
  border-radius: 5px;
  padding-top: 9px;

}
.boton:hover{
  background-color: #4b7d4d;
}
@media screen and (min-width:992px) {
  
  .imagen-grande{
      margin: 0px;
      padding: 0px;
      width: 120%;
  }
}
